
// ---------------------------------ALL POSTS STYLING feed/post styles---------------------------------

.post-bg{
	background-color: $light-blue;
}

.post-image{
	width: 100%;
	min-height: 300px;
	height: 100%;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.post-image-1{
	background-image: url('../assets/posts/post-1.jpg');
}

.post-image-2{
	background-image: url('../assets/posts/post-2.jpg');
}

.post-image-3{
	background-image: url('../assets/posts/post-3.JPG');
}

.post-image-4{
	background-image: url('../assets/posts/post-4.JPG');
}

.post-image-5{
	background-image: url('../assets/posts/post-5.JPG');
}

.post-image-6{
	background-image: url('../assets/posts/post-6.JPG');
}

.post-image-7{
	background-image: url('../assets/posts/post-7.JPG');
}

.post-image-8{
	background-image: url('../assets/posts/post-8.JPG');
}

.post-image-9{
	background-image: url('../assets/posts/post-9.JPG');
}

.post-image-10{
	background-image: url('../assets/posts/post-10.JPG');
}

.post-image-11{
	background-image: url('../assets/posts/post-11.JPG');
}

.post-image-12{
	background-image: url('../assets/posts/post-12.JPG');
}

.post-image-13{
	background-image: url('../assets/posts/post-13.JPG');
}

.post-image-14{
	background-image: url('../assets/posts/post-14.JPG');
}

.post-image-15{
	background-image: url('../assets/posts/post-15.JPG');
}

.post-image-16{
	background-image: url('../assets/posts/post-16.JPG');
}


.post-image-17{
	background-image: url('../assets/posts/post-17.jpeg');
}


.post-image-18{
	background-image: url('../assets/posts/post-18.JPG');
}

.post-image-19{
	background-image: url('../assets/posts/post-19.JPG');
}

.post-image-20{
	background-image: url('../assets/posts/post-20.JPG');
}