
// ------------------------------------colors


$brand: #2CC9FF;
$yellow: #FCF113;
$white:#FFFFFF;
$black: #101010;
$light-grey: #CFCFCF;
$lighter-grey: #f7f7f7; 
$light-blue: #F4FBFE;




// ------------------------------------fonts

$body-font-family: 'Montserrat', sans-serif;

$header-font-family: $body-font-family;



// ------------------------------------text styles

