a{
	transition: color 0.25s ease-in-out;
}

a:hover, a:focus{
	color: $brand;
    transition-timing-function: ease-in-out;
}


// ------------------------------------button donate (big yellow)


.button {
	font-weight: 600;
	padding: 15px 35px;
	text-transform: uppercase;

}

.button.clear{
  color: $brand;
}

.button-donate{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: $black;
  font-size: 14px;
  background: $yellow;
  padding: 15px 35px;
}

.button-donate:hover, .button-donate:focus  {
  background: $black;
  color:$white;
  text-decoration: none;
}



.hero-text .button-donate{
margin-top: 20px;
}


// ------------------------------------button secondary blue border---

.button.secondary{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  border:2px solid $brand;
  color: $brand;
  font-size: 14px;
  background: transparent;
  padding: 15px 35px;
}

.button.secondary:hover, .button.secondary:focus  {
  background: $brand;
  color: $black;
  text-decoration: none;
}


// ------------------------------------button primary blue fill----

.button.primary{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  // border:2px solid $brand;
  color: $black;
  font-size: 14px;
  background: $brand;
  padding: 15px 35px;
}

.button.primary:hover, .button.primary:focus  {
  background: $black;
  color: $white;
  text-decoration: none;
}

// ------------------------------------button donate-small (yellow)

.post-buttons .button {
	font-weight: 600;
	padding: 10px 8px;
	text-transform: uppercase;
    width: 100%;

  // @include breakpoint(medium down){
  // }

}

.button-donate-small{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: $black;
  font-size: 10px;
  background: $yellow;
  padding: 10px 20px;
}

.post-buttons .button-donate-small:hover, .post-buttons .button-donate-small:focus  {
  background: $black;
  color:$white;
  text-decoration: none;
}

.post-buttons{
  margin-top: 10px
}




// ------------------------------------button secondary (blue border small)---

.button-border-small{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  border:2px solid $brand;
  color: $brand;
  font-size: 6px;
  background: transparent;
  padding: 10px 10px;
}

 .post-buttons .button-border-small:hover, .post-buttons .button-border-small:focus  {
  background: #2CC9FF;
  color: $black;
  text-decoration: none;
}




 // ------------------------------------icons in navbar (notification and home)


 .top-bar .post-icons {
	display: inline-block;
	height: 15px;
	width: auto;
	margin-right: 6px;

}



.button-donate{
  width: 100%;
}


.hero-image-container-1 .button-donate{
  width: auto;
}









